@model IEnumerable<TransportWebApplication.Models.Model>

@{
    ViewData["Title"] = "Список моделей";
}

<h1>Список моделей</h1>

<p>
    <a asp-action="Create">Додати модель</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container chartsWrapper">
    <div id="chart1"></div>
    <div id="chart2"></div>
</div>

@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/ModelsData', function (ModelsData) {

                data = google.visualization.arrayToDataTable(ModelsData, false);
                var option = {
                    title: "Співвідношення кількості моделей авто",
                    width: 600,
                    height: 500,
                    is3D: true,
                    backgroundColor: "#F5F5F5",
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);

            })
        }
    </script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/ColorsData', function (ColorsData) {

                data = google.visualization.arrayToDataTable(ColorsData, false);
                var option = {
                    title: "Співвідношення кількості кольорів",
                    width: 600,
                    height: 400,
                    backgroundColor: "#F5F5F5",
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);

            })
        }
    </script>
}