@model IEnumerable<TransportWebApplication.Models.AutoOwner>

@{
    ViewData["Title"] = "Історія власників авто";
}

<h1>Історія власників авто з кодом @ViewBag.AutoName</h1>

<p>
    <a asp-action="Create" asp-route-id=@ViewBag.AutoId asp-route-name=@ViewBag.AutoName>Додати запис про володіня цим авто</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentsInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentsInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
